
<div class="bg-white relative">
    <div aria-hidden="true" class="absolute inset-0 overflow-hidden">
        <img class="h-full w-full object-cover" src="https://cdn.shopify.com/s/files/1/0648/7297/2535/files/275573332_1000957600518986_1072777706354381107_n.jpg?v=1655001531" alt="People working on laptops">

    </div>
    <div aria-hidden="true" class="absolute inset-0 bg-gray-900 opacity-50"></div>

    <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8 relative">
        <div class="bg-gray-900 bg-opacity-90 rounded-lg shadow-xl overflow-hidden lg:grid lg:grid-cols-1 lg:gap-4 relative">
            <div class="pt-10 pb-12 px-6 sm:pt-16 sm:px-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
              <div class="lg:self-center">
                <h2 class="text-1xl font-extrabold text-white sm:text-2xl" style="text-shadow: 1px 5px black;">
                  <span class="block">Our High Performance Exhaust Systems will make You Feel Great</span>
                  <span class="block">in a More Powerful, Better Sounding, Fuel Efficient Car!</span>
                </h2>
                <p class="mt-4 text-lg leading-6 text-indigo-200">
    
                  <span class="block">Open Monday - Friday, 9:00 AM to 5:00 PM</span>
                  <span class="block">Spanaway, Washington</span>
                  
                </p>
              </div>
            </div>
            <h2 class="absolute right-[11rem] bottom-0 text-3xl font-extrabold text-white sm:text-4xl">
                <span class="block">Call Dan Ferraro</span>
                <span class="block">425.251.0329</span>
              </h2>
            <div class="absolute right-0 bottom-0">
              <img class="" src="https://cdn.shopify.com/s/files/1/0648/7297/2535/files/dan.png?v=1655254486" alt="App screenshot">
            </div>
          </div>    
          <div class="aspect-w-16 aspect-h-9">
            <iframe allow="autoplay;" src="https://www.youtube.com/embed/NkmCF0XXQiw?autoplay=1&modestbranding=1&autohide=1&showinfo=0&controls=0&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
    
    </div>
    
  </div>

{% schema %}
{
  "name": "Dans Banner",
  "tag": "section",
  "settings": [
  ],
  "presets": [
    {
      "name": "Dans Banner"
    }
  ]
}
{% endschema %}
