<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->

{% if section.settings.style == "circle" %}




<div class="bg-white">
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Products</h2>
    <div class="relative mb-10">
      <h2 class="text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">SHOP OUR FEATURED PRODUCTS</h2>
      <p class="mt-4 max-w-3xl mx-auto text-center text-base text-gray-500">
        Our vision is to be recognized as the best provider of headers, exhaust and intake systems in the country, to serve loyal car owners globally, to increase our line of products and markets and to continue to be the leading provider in header development.</p>
    </div>
    <div class="grid max-w-3xl lg:max-w-5xl m-auto gap-y-10 grid-cols-2 gap-x-12 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-16">
      <a href="#" class="group text-center">
        <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-full overflow-hidden">
          <img src="https://cdn.shopify.com/s/files/1/0612/9644/3607/files/chevy_impala.jpg?v=1653530287" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="w-full h-full object-center object-cover group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Cat-Back Systems</h3>
      </a>

      <a href="#" class="group text-center">
        <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-full overflow-hidden">
          <img src="https://cdn.shopify.com/s/files/1/0612/9644/3607/files/impala_ss_gen-II_tri-y_headers_hi-flow_converters.jpg?v=1653530576" alt="Olive drab green insulated bottle with flared screw lid and flat top." class="w-full h-full object-center object-cover group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Headers</h3>
      </a>

      <a href="#" class="group text-center">
        <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-full overflow-hidden">
          <img src="https://cdn.shopify.com/s/files/1/0612/9644/3607/files/IMG_20220405_185229_610.jpg?v=1653530370" alt="Person using a pen to cross a task off a productivity paper card." class="w-full h-full object-center object-cover group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Drivetrain</h3>
      </a>

      <a href="#" class="group text-center">
        <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-full overflow-hidden">
          <img src="https://cdn.shopify.com/s/files/1/0612/9644/3607/files/impala_ss_cross_member_4L60E.jpg?v=1653530641" alt="Hand holding black machined steel mechanical pencil with brass tip and top." class="w-full h-full object-center object-cover group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Crossmembers</h3>
      </a>

      <!-- More products... -->
    </div>
  </div>
</div>

{% else %}

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
  <div class="max-w-full mx-auto">
    <!-- <p class="text-center text-base font-semibold uppercase text-gray-600 tracking-wider">Looking for other products? We create exhaust systems for numerous cars.</p> -->

    <div class="bg-gray-800 relative pb-10 pt-10">
      <h2 class="text-center text-3xl leading-8 font-extrabold tracking-tight text-white sm:text-4xl">SHOP BY VEHICLE</h2>
      <p class="mt-4 max-w-3xl mx-auto text-center text-base text-white">
        Our vision is to be recognized as the best provider of headers, exhaust and intake systems in the country, to serve loyal car owners globally, to increase our line of products and markets and to continue to be the leading provider in header development.</p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-0.5 lg:grid-cols-3">
      <div class="col-span-1 flex justify-around items-center py-16 px-4 bg-gray-50">
        <div>
          <h3 class="font-bold text-xl pb-0">GM B-Body</h3>
          <p class="text-xs">1994 - 1996</p>
          <a href="#" class="inline-block bg-lightPrimaryBlue border border-transparent py-1.5 px-4 text-sm font-medium text-white hover:bg-gray-900">SHOP NOW</a>
        </div>
        <img class="max-h-16" src="https://cdn.shopify.com/s/files/1/0612/9644/3607/files/chevy_impala.jpg?v=1653530287" alt="Workcation">
      </div>
      <div class="col-span-1 flex justify-around items-center py-16 px-8 bg-white">
        <div>
          <h3 class="font-bold text-xl pb-0">Chevy Silverado</h3>
          <p class="text-xs">1950 - Present</p>
          <a href="#" class="inline-block bg-lightPrimaryBlue border border-transparent py-1.5 px-4 text-sm font-medium text-white hover:bg-gray-900">SHOP NOW</a>
        </div>
        <img class="max-h-16" src="https://cdn.shopify.com/s/files/1/0612/9644/3607/files/chevy_silverado.jpg?v=1653581553" alt="Workcation">
      </div>
      <div class="col-span-1 flex justify-around items-center py-16 px-8 bg-gray-50">
        <div>
          <h3 class="font-bold text-xl pb-0">Pontiac Solistice / Saturn Sky</h3>
          <p class="text-xs">2005 - 2010</p>
          <a href="#" class="inline-block bg-lightPrimaryBlue border border-transparent py-1.5 px-4 text-sm font-medium text-white hover:bg-gray-900">SHOP NOW</a>
        </div>
        <img class="max-h-16" src="https://cdn.shopify.com/s/files/1/0612/9644/3607/files/car.png?v=1653491209" alt="Workcation">
      </div>
      <div class="col-span-1 flex justify-around items-center py-16 px-8 bg-white">
        <div>
          <h3 class="font-bold text-xl pb-0">Ford Bronco</h3>
          <p class="text-xs">1962 - 1972</p>
          <a href="#" class="inline-block bg-lightPrimaryBlue border border-transparent py-1.5 px-4 text-sm font-medium text-white hover:bg-gray-900">SHOP NOW</a>
        </div>
        <img class="max-h-16" src="https://cdn.shopify.com/s/files/1/0612/9644/3607/files/car.png?v=1653491209" alt="Workcation">
      </div>
      <div class="col-span-1 flex justify-around items-center py-16 px-8 bg-gray-50">
        <div>
          <h3 class="font-bold text-xl pb-0">International Scout</h3>
          <p class="text-xs">1961 - 1980</p>
          <a href="#" class="inline-block bg-lightPrimaryBlue border border-transparent py-1.5 px-4 text-sm font-medium text-white hover:bg-gray-900">SHOP NOW</a>
        </div>
        <img class="max-h-16" src="https://cdn.shopify.com/s/files/1/0612/9644/3607/files/car.png?v=1653491209" alt="Workcation">
      </div>
    
    </div>
  </div>
</div>
{% endif %}


{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "select",
      "id": "style",
      "options": [
        {
          "value": "circle",
          "label": "Circle Layout"
        },
        {
          "value": "grid",
          "label": "Grid Layout"
        }
      ],
      "default": "circle",
      "label": "Layout of collections"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
