<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<footer class="bg-gray-800" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="max-w-medium mx-auto py-12 px-6 px-16-desktop lg:py-16">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="grid grid-cols-1 gap-8 xl:col-span-2">
        <div class="sm:grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 md:gap-8">
          {% for link in linklists[section.settings.menu].links %}
          {% if link.links != blank %}
              <div class="mt-12 md:mt-0">
                <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">{{ link.title }}</h3>
                <ul role="list" class="mt-4 space-y-4">
                  {% for childlink in link.links %}
                  <li>
                    <a href="{{ childlink.url }}" class="text-base text-gray-300 hover:text-white"> {{ childlink.title }} </a>
                  </li>

                  {% endfor %}
                </ul>
              
              </div>
          {% endif %}
          {% endfor %}
          
          
        </div>
     
      </div>
      {% if section.settings.newsletter_enable == true %}
      <div class="mt-8 xl:mt-0">
        <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">Subscribe to our newsletter</h3>
        <p class="mt-4 text-base text-gray-300">The latest news, articles, and resources, sent to your inbox weekly.</p>
        
      </div>
      {% endif %}
    </div>
    
  </div>
  <div class="bg-lightPrimaryBlue">
  <div class="m-auto py-4 px-6 px-16-desktop border-t border-gray-700 max-w-medium md:flex md:items-center md:justify-between">
    <div class="flex space-x-6 md:order-2">
      <a href="https://www.facebook.com/groups/178236898909081/" class="text-white hover:text-gray-900">
        <span class="sr-only">Facebook</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" />
        </svg>
      </a>
    </div>
    <p class="mt-8 text-base text-white md:mt-0 md:order-1">&copy; 2022 Clear Image Automotive. All rights reserved.</p>
  </div>
</div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    }
  ]
}
{% endschema %}