<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white max-w-medium mx-auto">
    <div class=" mx-auto py-16 px-6 px-16-desktop">
      <div class="max-w-lg mx-auto md:max-w-none md:grid md:grid-cols-1 md:gap-8">
        <div>
          <h2 class="text-2xl font-extrabold text-gray-900 sm:text-3xl">Support</h2>
          <div class="mt-3">
            <p class="text-lg text-black">Need help selecting the correct parts for your build? Contact us with the details below.</p>
          </div>
          <div class="mt-9">
            <div class="flex">
              <div class="flex-shrink-0">
                <!-- Heroicon name: outline/phone -->
              
              </div>
              <div class="text-base text-black">
                <a href="tel:+1-425-251-0329">+1 425.251.0329</a>
                <p class="mt-1">Mon-Fri 9am to 5pm PST</p>
              </div>
            </div>
            <div class="mt-6 flex">
              <div class="flex-shrink-0">
                <!-- Heroicon name: outline/mail -->
             
              </div>
              <div class="text-base text-lightPrimaryBlue">
                <a href="mailto:dan.ferraro@clearimageautomotive.com">dan.ferraro@clearimageautomotive.com</a>
              </div>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
  
  {% schema %}
{
  "name": "Support Section",
  "settings": [
  ],
  "presets": [
    {
      "name": "Support Section"
    }
  ]
}
{% endschema %}